#heading{
    background-color:#ffe8e9;
    margin-top: 0;
    width: 100%;
    font-size: 30px;
    border-radius: 30px;  
}
#status,#rules, #start{
    background-color:#ffe8e9;
    margin-top: 0;
    font-size: 20px;
    border-radius: 30px;  
}

body{
    background-size: cover;
}

canvas{
    margin-top: 120px;
    border: 3px dotted #000000;
    border-radius: 30px;
    box-shadow: 7px 7px 7px #ffd5d7;
}